<div class='container'>
  <h1>Bonjour <%= @user.name %></h1>

  <h4>Prochaines règles prévues <%= from_now_or_ago_in_words(@next_period_start_at) %></h4>

  <% if @current_cycle_period_ended_at %>
    <h6>Les dernières règles se sont terminés <%= from_now_or_ago_in_words(@current_cycle_period_ended_at) %></h6>
  <% else %>
    <h6>Les règles sont en cours <%= since_when(@current_cycle_start) %></h6>
  <% end %>

  <% if @current_cycle_period_ended_at %>
    <div class='btn btn-lg btn-primary mt-4'>J'ai mes règles</div>
  <% else %>
    <div class='btn btn-lg btn-secondary mt-4'>Fin des règles</div>
  <% end %>
</div>
