<nav class='navbar navbar-expand-sm fixed-top bg-secondary'>
  <div class='container-fluid'>
    <a class='navbar-brand' href=<%= root_path %>>4 Women</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto mb-0'>
        <% if @email %>
          <li class='nav-item dropdown navbar-dropdown-right'>
            <a class='nav-link dropdown-toggle' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
              <%= @email %>
            </a>
            <ul class='dropdown-menu navbar-dropdown-menu-right bg-secondary border-0 shadow'>
              <li><%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
