<div class='p-5 bg-light h-100'>
  <div class='p-5 bg-secondary rounded'>
    <h1 >4 Women</h1>
    <div class='py-2'>
      <span class='btn btn-primary me-1'>Primary</span>
      <span class='btn btn-info me-1'>Info</span>
      <span class='btn btn-warning me-1'>Warning</span>
    </div>
  <div class='p-5 bg-primary rounded'>
    <h1 class='text-light'>4 Women</h1>
    <span class='btn btn-dark'>Dark</span>
  </div>
  </div>
</div>
