$border-radius: 4px;

body {
  height: 100vh;
}

.alert {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
  margin: 0 !important;
}

.dropdown-item:hover {
  background-color: $info !important;
}

.navbar-dropdown-right {
  width: min-content;
  margin-left: auto;
}

.navbar-dropdown-menu-right {
  width: min-content;
  right: 0;
  left: unset !important;
  position: absolute !important;
}
