$border-radius: 4px;

body {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.alert {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}

.navbar {
  position: sticky;
}
